# requirements.txt records the full set of dependencies for development
accelerate
codetiming
datasets==4.4.2
dill
# flash-attn
hydra-core
liger-kernel
numpy
pandas
datasets
peft
pyarrow>=15.0.0
pybind11
pylatexenc
pre-commit
ray[default]
tensordict<=0.6.2
torchdata
transformers==4.51.3
triton==3.1.0
# vllm==0.6.3.post1
wandb
shapely
vllm==0.8.2
-r requirements_deepeyes.txt
